.layouts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout{
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.layout-tiles{
  margin-top: 25px;
}
.tile-row {
  display: flex;
  flex-direction: row;
}
.tile {
  margin-right: 1px;
  margin-bottom: 1px;
  width: 25px;
  height: 25px;
}
.filled {
  background: #444;
}
.impassable {
  Xbackground: #c99;
}

h3 {
  margin: 0;
}